<div class='section-padding py-5 bg-light' id='price'>
    <div class='container'>
        <h2 class='text-center mb-5 text-uppercase'>Daftar Harga</h2>
        <div class='pricing card-deck flex-column flex-md-row mb-3'>

            {% for pricing in site.data.main.pricing %}
            <div class="card card-pricing text-center border-secondary px-3 mb-4">
                <span class="h6 w-60 mx-auto px-4 py-1 text-uppercase rounded-bottom bg-secondary text-white shadow-sm">{{pricing.package}}</span>
                <div class="bg-transparent card-header pt-4 border-0">
                    <h2 class="h1 font-weight-normal text-primary mb-0 d-flex justify-content-center align-items-start">
                        <span class="price">{{pricing.price}}</span>
                        <div class="d-flex flex-column align-items-start mt-2">
                            <span class="h6 mb-0 text-muted">.000</span>
                            <span class="h6 mb-0 text-muted"><sup>/tahun</sup></span>
                        </div>
                    </h2>
                </div>
                <div class="card-body pt-0">
                    <ul class="list-unstyled mb-4">
                        {% for feature in pricing.feature %}
                        <li>{{feature}}</li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-outline-secondary mb-3" href="https://api.whatsapp.com/send?phone={{page.whatsapp}}&text=Halo, saya mau pesan paket {{pricing.package}}" target="_blank">Pesan Sekarang</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>