<section class='pt-5 border-top bg-white'>
    <div class='container'>
        <div class='d-flex justify-content-center'>
            <div class='mr-auto'>
                <p class='lead mb-0'>Butuh bantuan lebih lanjut</p>
                <p>Kami siap membantu dan menjawab pertanyaan Anda</p>
            </div>
            <div>
                <a class='btn rounded-pill btn-outline-success' href='https://api.whatsapp.com/send?phone=6281225117896&text=Halo, saya mau tanya tentang landingpageku.com'>WhatsApp</a>
            </div>
        </div>
    </div>
</section>