<div class='section-padding py-5' id='about'>
    <div class='container text-center'>
        <h2 class=' mb-5 text-uppercase'>Tentang landingpageku.com</h2>
        <p class='lead'>
            Jasa pembuatan landing page untuk bisnis atau usaha Anda.<br />Anda hanya perlu menyiapkan materi berupa konten dan gambar,<br />kami yang buatkan landingpage yang cepat dan sesuai keinginan.<br />
            <a class='btn btn-outline-success mt-3 rounded-pill' href="https://api.whatsapp.com/send?phone=6281225117896&text=Halo,%20saya%20mau%20tanya-tanya%20landingpageku.com">Tanya lewat WhatsApp</a>
        </p>
    </div>
</div>